{% extends 'main/layout.html' %}


{% block title %}
    Главная страница

{% endblock %}

{% block content %}
    <h1>Первый сайт</h1>
    <a href="login.php">Авторизация</a>
    <a href="registration.php">Регистрация</a>
    <a href="http://127.0.0.1:8000/opros
">Опрос</a>
    {% include 'main/test.html' %}

<h1>Какую музыку Вы слушаете?</h1>
<form>
  <input type="checkbox" name="punk">Панк-рок<br>
  <input type="checkbox" name="indie">Инди-рок<br>
  <input type="checkbox" name="techno">Техно<br>
  <input type="checkbox" name="rockabilly">Рокабилли<br>
</form>
{% endblock %}