{% extends 'main/layout.html' %}


{% block title %}
    Опрос

{% endblock %}

{% block content %}
     <a href="http://127.0.0.1:8000">Главная</a>

    <p>Какая ваша любимая группа восьмидесятых?
  <select name="EightiesFave">
    <option value="1">Мираж</option>
    <option value="2">Ласковый май</option>
    <option value="3">Сябры</option>
    <option value="4">Руки вверх</option>
    <option value="5">Everything But the Girl</option>
    <option value="6">Depeche Mode</option>
    <option value="7">The Smiths</option>
    <option value="8">New Order</option>
  </select>
</p>
{% endblock %}


</body>
</html>